<div class="card-container">

<mat-card>
<mat-card-header>
<mat-card-title>Add Medication</mat-card-title>
</mat-card-header>
<mat-card-content>
<button mat-button class="action-btn" (click)="openDialog()">Open form</button>
</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
    <mat-card-title>Get medications list</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Read, modify or delete medications.</p><br>
    <button mat-button routerLink="/list-medication">Go to list</button>
    </mat-card-content>
    </mat-card>
</div>    