<div style="display:flex;">

<mat-card style="width:50%;margin:5%;">
<mat-card-header>
<mat-card-title>Add Medication</mat-card-title>
</mat-card-header>
<mat-card-content>
<button mat-button routerLink="/add-medication">Go to form</button>
</mat-card-content>
</mat-card>

<mat-card style="width:50%;margin:5%;">
    <mat-card-header>
    <mat-card-title>Get Medication list</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Read, modify or delete medications.<br>
    <button mat-button routerLink="/list-medication">Go to list</button>
    </mat-card-content>
    </mat-card>
</div>    