<div id="addmedicationform">
<h1>Add medication</h1>
<form [formGroup]="form">
  <p>
    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Code</mat-label>
      <input matInput type="text" name="code" placeholder="6565" formControlName="code">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Status</mat-label>
      <input type="text" name="status" matInput placeholder="active or inactive or entered-in-error" formControlName="status">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Manufacturer</mat-label>
      <input type="text" name="manufacturer" matInput placeholder="Jelszó" formControlName="manufacturer">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Form</mat-label>
      <input type="text" name="form" matInput placeholder="Form" formControlName="form">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field class="max-width" appearance="outline">
        <mat-label>Amount</mat-label>
        <input type="tect" name="amount" matInput placeholder="Amount" formControlName="amount">
      </mat-form-field>
      </p>
      <p>
    <button type="submit" mat-raised-button color="primary" class="max-width">Hozzáadás</button>
    </p>
  </form>
</div>