<mat-toolbar>
    <mat-toolbar-row>

    <a mat-button routerLink="/home">FHIR</a>
    <button mat-raised-button routerLink="/medication-home">
        <medication-icon>Loading</medication-icon>
        <span class="navtitle">Medication</span></button>
    <button mat-raised-button routerLink="/ingredient-home">
        <ingredient-icon>Loading</ingredient-icon>
        <span class="navtitle">Ingredient</span></button>
    <button mat-raised-button routerLink="/batch-home">
        <batch-icon>Loading</batch-icon>
        <span class="navtitle">Batch</span></button>
</mat-toolbar-row>
</mat-toolbar>