<mat-toolbar>
    <mat-toolbar-row>
        <div class="navtitle">
    <a mat-button routerLink="/home">FHIR</a>
        </div>
    <div class="navbuttons">
    <button mat-raised-button routerLink="/medication-list">
        <medication-icon>Loading</medication-icon>
        Medication</button>
    <button mat-raised-button routerLink="/ingredient-list">
        <ingredient-icon>Loading</ingredient-icon>
        Ingredient</button>
    <button mat-raised-button routerLink="/batch-list">
        <batch-icon>Loading</batch-icon>
        Batch</button>
    </div>
</mat-toolbar-row>
</mat-toolbar>