medication-icon, ingredient-icon, batch-icon {
    line-height:150%;
    padding-right:5%;
}
[mat-raised-button]:not(:last-child) {
    margin-right:2%;
}
[mat-raised-button]:nth-child(2) {
    background-color:#E49501 !important;
    color:#fff;
    text-shadow: 1px 1px 5px #BA7901;
}
[mat-raised-button]:nth-child(3) {
    background-color:#C22363 !important;
    color:#fff;
    text-shadow:1px 1px 5px #8C1A47;
}

[mat-raised-button] {
    min-width:80px;
}
  
  mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    color:#fff;
    background-color:#004EB1 !important;
    text-shadow:1px 1px 5px #002D6B;
  }

  mat-toolbar-row > a {
    font-size: 18px;
    margin-right:2%;
  }
  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}