<div class="mat-elevation-z8">
<mat-table [dataSource]="batch">
    <ng-container matColumnDef="lotNumber">
        <mat-header-cell *matHeaderCellDef>Lot number</mat-header-cell>
        <mat-cell *matCellDef="let batch"> {{ batch.payload.doc.data().lotNumber }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef>Expiration</mat-header-cell>
        <mat-cell *matCellDef="let batch"> {{ batch.payload.doc.data().expirationDate }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let batch"><button mat-button [hidden]="batch.payload.doc.data().completed" 
          (click)="deleteBatch(batch)"><mat-icon>delete</mat-icon></button></mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
        <mat-cell *matCellDef="let batch"><button mat-button [hidden]="batch.payload.doc.data().completed"
          (click)="markCompleted(batch)"><mat-icon>create</mat-icon></button></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>