::ng-deep.mat-dialog-container {
    min-width:500px;
    min-height:500px;
}
::ng-deep.mat-header-cell, mat-cell {
    overflow:visible !important;
}
.mat-header-cell {
    min-width:42px;
    margin-left:3px;
    margin-right:3px;
    font-size:12px !important;
}
.mat-cell {
    min-width:42px;
    margin-left: 3px;
    margin-right:3px;
    font-size:12px !important;
}