@media screen and (min-width: 800px) {
    .card-container {
        display:flex;
    }

    mat-card {
        width:50%;
        margin:5%;
    }
}

button {
    background-color: #fff;
    color:#000;
}
mat-card:first-of-type {
    background-color:#004EB1;
    color:#FFF;
}
mat-card:nth-of-type(2) {
    background-color: #FFFFFF;
}
mat-card-title {
    margin-bottom:20% !important;
}
mat-card-content {
    text-align:center;
}
@media screen and (max-width: 600px) {
    mat-card {
        border-radius:0px;
    }
}